language: elixir
elixir: '1.8.0'
otp_release: '21.0'
script:
  - "MIX_ENV=test mix do compile --warnings-as-errors, coveralls.json --umbrella"

after_success:
  - bash <(curl -s https://codecov.io/bash)
